<div class="row" ng-controller="listarMesasController as vm">
        <div class="container">            
            <div class="row">
                <div class="row">
                <h2>Solicite sua reserva</h2>

            </div>
            
                    <hr>
            	<div class="container">
                                    <div class="row">                
                <span>Preencha os campos para solicitar sua reserva</span>
                </div>
            	<form>
            		<div class="form-row">
            			<label for="nome">Nome:
            				<input type="text" class="form-control" name="nome" id="nome" ng-model="reserva.nome">
            			</label>
            		</div>
            		<div class="form-row">
            			<label for="email">Email:
            				<input type="text" class="form-control" name="email" id="email" ng-model="reserva.email">
            			</label>
            		</div>
            		<div class="form-row">
            			<label for="tel">Tel:
            				<input type="text" placeholder="ex:(61)9 9999-9999" class="form-control" name="tel" id="tel" ng-model="reserva.tel">
            			</label>
            		</div>
            	</form>
            	</div>
            	<hr>
            	<div class="row" ng-show="reserva.nome && reserva.nome.length > 3 && reserva.email && reserva.email.length > 5 && reserva.tel && (reserva.tel.length > 9 && reserva.tel.length <13)">
                    <div class="row container-fluid">
            	<h3>Mesas Disponiveis</h3>
            </div>
            	<div class="row">
                <div class="col-lg-2 cx_mesa" ng-click="selecionaMesa(mesa.codigo)"  ng-repeat="mesa in service.listaMesas">
                    {{mesa.descricao}}
                </div>
                </div>
            	</div>
                <br>
                <div class="row container-fluid" ng-show="showData">
                <div class="col-lg-4">
                    <label for="dataReserva">Data:
                <input type="text" name="data"  class="form-control" id="dataReserva" ng-model="reserva.dtR">
            </label>
            </div>
        </div>
            </div>
        </div>
        <button class="btn btn-outline-primary" ng-disabled="!reserva.dtR || reserva.dtR.length < 1" ng-click="solicitaReserva(reserva)">Reservar</button>
        <button class="btn btn-outline-secondary" style="margin-left: 20px;">Cancelar</button>
    </div>